<div class="container-fluid col-xxl-8 px-4 py-0" style="background-color: #097054;">
  <div class="container"  >
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/img/index-img.jpeg" class="blob-image d-block mx-lg-auto img-fluid" alt="rice" loading="lazy">
    <!-- Define the SVG clip path -->
  <svg width="0" height="0">
    <defs>
      <clipPath id="blob-shape" clipPathUnits="objectBoundingBox">
        <path d="M0.5,0 C0.835,0,1,0.24,1,0.5 C1,0.76,0.82,1,0.5,1 C0.18,1,0,0.76,0,0.5 C0,0.24,0.165,0,0.5,0"></path>
      </clipPath>
    </defs>
  </svg>  
    </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" style="color: #FF9900;">YOU CAN GET PURE FOOD HERE</h1>
        <p class="lead" style="color: #FF9900;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at tempus arcu. In tempus urna at odio cursus accumsan. Sed eu sodales dolor, et tristique enim. Aenean auctor scelerisque elit vitae convallis.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn custom-button btn-lg px-4 me-md-2">Contact <i class="fa fa-caret-square-o-right" style="font-size:16px"></i></i></button>
          <button type="button" class="btn custom-button-2 btn-lg px-4">Explore <i class="fa fa-code" style="font-size:16px"></i></button>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!--Categories ----->
  <div class="container col-xxl-8 px-4 py-2">
    <h1 class="text-center mt-2">Recipe Categories</h1>
    <div class="row mt-4">
      <% if (locals.categories) { %>
        <% categories.forEach(function(item) { %>
          <div class="col-md-2">
            <div class="card">
              <img src="/img/categories/<%= item.image %>" class="card-img-top" height="100px" alt="<%= item.name %>">
              <div class="card-body">
                <h5 class="card-title"><%= item.name %></h5>
                <a class="card-button" href="#">Explore More</a>
              </div>
            </div>
          </div>
        <% }); %>
      <% } %>
      
     
    </div>
  </div>
  <!--Categories -->
  <!-- start home blog body-->
  <div class="container col-xxl-8 px-4 py-2">
  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
         Feature Blog
      </h3>

      <article class="blog-post"> 
        <% if (locals.posts){ %>

        <h2 class="display-5 link-body-emphasis mb-1"><%= posts.title %></h2>
        <p class="blog-post-meta"><% const createdAtDate = new Date(posts.createdAt); %>
          <%= createdAtDate.getDate() %>/<%= createdAtDate.getMonth() + 1 %>/<%= createdAtDate.getFullYear() %>
           <a href="#"><%= author.username %></a></p>

        <p><%= posts.content %></p>
        <hr>
       
      <% } %>
      </article>

    

      

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Welcome to my recipe blog!, a passionate home cook who loves to share my recipes with the world. I believe that everyone should be able to cook delicious food, and I'm here to help you make that happen.</p>
        </div>

        <div>
          <h4 class="fst-italic">Recent posts</h4>
          <% if (locals.sidebarposts) { %>
            <ul class="list-unstyled">
              <% sidebarposts.forEach(function(item) { %>
                <li>
                  <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                    <h6 class="mb-0"><%= item.title %></h6>
                    <small class="text-body-secondary"><%= new Date(item.createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></small>
                  </a>
                </li>
              <% }); %>
            </ul>
          <% } %>
          
        </div>


 
      </div>
    </div>
  </div>
  </div>